.about {
  display: grid;
  grid-template-areas: "h2-about h2-about" "desc-about desc-about" "skills-about pic-about";
  gap: 20px;
  margin-bottom: 20px;
  width: 100vw;
}

.about-title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  grid-area: h2-about;
}

.about-desc {
  display: flex;
  flex-direction: row;
  justify-content: center;
  grid-area: desc-about;
  margin-bottom: 20px;
}

.about-skills {
  grid-area: skills-about;
  margin-left: 200px;
}

.about-image {
  border-radius: 10%;
  grid-area: pic-about;
  margin-right: 300px;
  width: 80%;
}

.skillslist {
  border: 2px dotted;
  margin-right: 150px;
  margin-top: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.skillsbullets {
  font-style: italic;
  padding-left: 20px;
  padding-right: 20px;
  list-style-type: none;
}
