.cv {
  display: grid;
  grid-template-areas: "h2 h2" "desc desc" "cv1 cv3" "cv2 cv4";
  gap: 20px;
  margin-bottom: 20px;
  width: 100vw;
}

.cv-title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  grid-area: h2;
}

.cv-desc {
  display: flex;
  flex-direction: row;
  justify-content: center;
  grid-area: desc;
  margin-bottom: 20px;
}

.cv-station1 {
  border-radius: 1em;
  grid-area: cv1;
  background-color: goldenrod;
  margin-left: 80px;
  margin-right: 10px;
  padding-left: 20px;
  padding-right: 20px;
}

.cv-station2 {
  border-radius: 1em;
  grid-area: cv2;
  margin-left: 80px;
  margin-right: 10px;
  padding-left: 20px;
  padding-right: 20px;
}

.cv-station3 {
  border-radius: 1em;
  grid-area: cv3;
  margin-left: 10px;
  margin-right: 80px;
  padding-left: 20px;
  padding-right: 20px;
}

.cv-station4 {
  border-radius: 1em;
  grid-area: cv4;
  background-color: goldenrod;
  margin-left: 10px;
  margin-right: 120px;
  padding-left: 20px;
  padding-right: 20px;
}

.cvstation-title {
  margin-bottom: 10px;
  margin-top: 10px;
}

.cvstations {
  margin-bottom: 5%;
}

.cvbullets {
  margin-left: 50px;
  padding-right: 20px;
}
