footer {
  position: sticky;
  bottom: 0px;
  display: flex;
  flex-wrap: wrap;
  background-color: goldenrod;
  justify-content: space-between;
  padding: 20px 0px 10px 20px;
  width: 100vw;
}

footer ul {
  list-style: none;
}

footer ul li {
  list-style-type: none;
  display: inline;
}

.footer-copyright {
  align-items: right;
  margin-right: 30px;
}
