* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  font-size: 14px;
  font-family: Montserrat;
  background-color: lightgoldenrodyellow;
}

nav {
  display: flex;
  background-color: goldenrod;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 10px 10px 10px 10px;
  position: fixed;
  width: 100vw;
}

nav a {
  text-decoration: none;
}

nav ul li {
  list-style-type: none;
  align-items: right;
  display: inline-block;
  font-size: 20px;
  margin-right: 20px;
}

nav ul li a {
  color: black;
  text-decoration: none;
  text-transform: capitalize;
}

nav ul li a:hover {
  text-decoration: underline solid black 3px;
}

h1 {
  color: darkblue;
  font-size: 40px;
  font-weight: bold;
  letter-spacing: 2px;
  margin: 20px 0px 20px;
  text-transform: uppercase;
}

h2 {
  color: darkblue;
  font-family: Roboto;
  font-size: 30px;
  margin-top: 30px;
  margin-bottom: 10px;
}

h3 {
  color: darkblue;
  font-family: Roboto;
  font-size: 20px;
  margin-top: 60px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 1500px;
  min-height: 100vh;
  padding: 5px 20px 30px;
}

section {
  margin-top: 10px;
  margin-bottom: 10px;
}

hr {
  width: 20%;
  border: 5px dotted darkblue;
}

footer {
  display: flex;
  background-color: goldenrod;
  justify-content: space-between;
  padding: 20px 0px 10px 20px;
  width: 100vw;
}

footer ul {
  list-style: none;
}

footer ul li {
  list-style-type: none;
  display: inline;
}

.menu {
  color: black;
  font-size: 20px;
}

.hero {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  padding-top: 80px;
  width: 90%;
}

.heropresentation {
  margin-right: 100px;
}

.herobutton {
  display: flex;
  justify-items: center;
  font-size: 15px;
  background-color: gold;
  font-weight: bold;
  margin: 30px 20px 30px 100px;
  padding: 5px 5px 5px 5px;
}

.heroimage {
  border-radius: 10%;
  margin-bottom: 10px;
}

.copyright {
  margin-right: 30px;
}

.form {
  margin-top: 20px;
}

.workstations {
  margin-bottom: 5%;
}
