* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  font-size: 14px;
  font-family: Montserrat;
  background-color: lightgoldenrodyellow;
  width: 100vw;
}

header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100vw;
}

nav {
  display: flex;
  background-color: goldenrod;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 10px 10px 10px 10px;
  position: fixed;
  top: 0;
  width: 100vw;
}

nav a {
  text-decoration: none;
}

nav ul li {
  list-style-type: none;
  display: inline;
  font-size: 20px;
  margin-right: 20px;
}

nav ul li a {
  color: black;
  text-decoration: none;
  text-transform: capitalize;
}

nav ul li a:hover {
  text-decoration: underline solid black 2px;
}

main {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  width: 100vw;
  min-height: 100vh;
  padding: 5px 0px 30px;
}

h1 {
  color: darkblue;
  font-size: 40px;
  font-weight: bold;
  letter-spacing: 2px;
  margin: 20px 0px 20px;
  text-transform: uppercase;
}

h2 {
  color: darkblue;
  font-family: Roboto;
  font-size: 30px;
  margin-top: 30px;
  margin-bottom: 10px;
}

h3 {
  color: darkblue;
  font-family: Roboto;
  font-size: 20px;
  margin-top: 60px;
}

section {
  margin-top: 10px;
  margin-bottom: 10px;
}

footer {
  position: sticky;
  bottom: 0px;
  display: flex;
  flex-wrap: wrap;
  background-color: goldenrod;
  justify-content: space-between;
  padding: 20px 0px 10px 20px;
  width: 100vw;
}

footer ul {
  list-style: none;
}

footer ul li {
  list-style-type: none;
  display: inline;
}

.footer-copyright {
  align-items: right;
  margin-right: 30px;
}

.menu {
  color: black;
  font-size: 20px;
}

.hero {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 20% 1fr 20%;
  margin-bottom: 20px;
  padding-top: 20px;
  width: 100vw;
}

.heropicture {
  grid-column: 1;
  grid-row: 1 / span 3;
  margin-left: 80px;
  margin-right: -80px;
}

.heropresentation {
  margin-right: 300px;
  grid-column: 2;
  grid-row: 2;
}

.herodescription {
  margin-top: 30px;
}

.herobutton {
  display: flex;
  border-radius: 10%;
  justify-items: left;
  font-size: 20px;
  background-color: goldenrod;
  font-weight: bold;
  margin-top: 40px;
  padding: 5px 5px 5px 5px;
}

.herocta {
  text-decoration: none;
}

.heroimage {
  border-radius: 10%;
  margin-bottom: 10px;
  width: 80%;
}

.about {
  display: grid;
  grid-template-areas: "h2-about h2-about" "desc-about desc-about" "skills-about pic-about";
  gap: 20px;
  margin-bottom: 20px;
  width: 100vw;
}

.about-title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 40px;
  grid-area: h2-about;
}

.about-desc {
  display: flex;
  flex-direction: row;
  justify-content: center;
  grid-area: desc-about;
  margin-bottom: 20px;
}

.about-skills {
  grid-area: skills-about;
  margin-left: 200px;
}

.about-image {
  border-radius: 10%;
  grid-area: pic-about;
  margin-right: 300px;
  width: 80%;
}

.skillslist {
  border: 2px dotted;
  margin-right: 150px;
  margin-top: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.skillsbullets {
  font-style: italic;
  padding-left: 20px;
  padding-right: 20px;
  list-style-type: none;
}

.cv {
  display: grid;
  grid-template-areas: "h2 h2" "desc desc" "cv1 cv3" "cv2 cv4";
  gap: 20px;
  margin-bottom: 20px;
  width: 100vw;
}

.cv-title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 40px;
  grid-area: h2;
}

.cv-desc {
  display: flex;
  flex-direction: row;
  justify-content: center;
  grid-area: desc;
  margin-bottom: 20px;
}

.cv-station1 {
  border-radius: 1em;
  grid-area: cv1;
  background-color: goldenrod;
  margin-left: 80px;
  margin-right: 10px;
  padding-left: 20px;
  padding-right: 20px;
}

.cv-station2 {
  border-radius: 1em;
  grid-area: cv2;
  margin-left: 80px;
  margin-right: 10px;
  padding-left: 20px;
  padding-right: 20px;
}

.cv-station3 {
  border-radius: 1em;
  grid-area: cv3;
  margin-left: 10px;
  margin-right: 80px;
  padding-left: 20px;
  padding-right: 20px;
}

.cv-station4 {
  border-radius: 1em;
  grid-area: cv4;
  background-color: goldenrod;
  margin-left: 10px;
  margin-right: 120px;
  padding-left: 20px;
  padding-right: 20px;
}

.cvstation-title {
  font-style: bold;
  margin-bottom: 10px;
  margin-top: 10px;
}

.cvstations {
  margin-bottom: 5%;
}

.cvbullets {
  margin-left: 50px;
  padding-right: 20px;
}

.contact-title {
  margin-top: 40px;
}

.contact-desc {
  margin-top: 20px;
  align-content: center;
}
